@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    margin: 0px;
}

li, a, button {
    all: initial;
    all: unset;
}
body {cursor: default;}

main {
    display: flex;
    justify-content: space-around;
    max-width: 2000px;
    margin-top: 50px;
}

.alle-menyer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 60vw;
}

.meny-liste {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.matrett {
    margin-left: 20px;
}

.tittel {
    font-size: 20px;
}

.forklaring {
    font-size: 20px;
}

.pris {
    font-size: 20px;
}

.allergener {
    font-size: 15px;
}

.info {
    position: sticky;
    top: 50px;
    height: 300px;
}

footer {
    background-color: rgb(98, 98, 98);
    height: 300px;
    color: white;
    margin-top: 100px;
}