@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    margin: 0px;
}

li, a, button {
    all: initial;
    all: unset;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

body {cursor: default;}


header {
    height: 300px;
    overflow: hidden;
    position: relative;
}

.background {
    height: 300px;
    width: 100vw;
    background: linear-gradient(to right, rgba(50,50,50,0.4) 40%, rgba(0,0,0,0));
    position: absolute;
    z-index: 1;
}

.header-img {
    width: 100%;
    transform: translateY(-300px);
    
}

.logo {
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

main {
    display: flex;
    max-width: 2000px;
    width: 85vw;
    margin: 0px auto;
    margin-top: 50px;
    justify-content: space-between;
}

.alle-menyer {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.meny-liste {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.matrett {
    margin-left: 20px;
}

.tittel {
    font-size: 20px;
}

.forklaring {
    font-size: 20px;
}

.pris {
    font-size: 20px;
}

.allergener {
    font-size: 15px;
}

.allergener-ikoner {
    height: 30px;
}

.info {
    position: sticky;
    top: 50px;
    height: 300px;
}

footer {
    background-color: rgb(98, 98, 98);
    height: 300px;
    color: white;
    margin-top: 100px;
}